$bgFooter: #111111;

.footer {
  background-color: $bgFooter;
}

.footer__menu {
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .footer__wrap {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 25px;
    padding-bottom: 25px ;
  }
}